
{{#each data}}

	<div class="col-xs-6 col-lg-4">
	 	<h2>{{title}}</h2>
	<img src="{{image}}" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
	<p>{{description}}</p>
	<p style="color: gray;"></p>

	<p><a class="btn btn-default" href="{{url}}" role="button">Full Article at {{source.source-name}} »</a></p>

	</div><!--/.col-xs-6.col-lg-4-->
{{/each}}